{% load static %}
{% load i18n %}

<div class="d-flex align-items-center">
  {% include 'users/_avatar.html' with user=answer.author %}
  <span style="margin-left: 19px">{{ answer.author.username }}</span>
</div>

{% if answer.question.status == 'closed' %}
  <img height="33" alt="like" src="{% static 'icons/like.png' %}" class="ms-3" /> {% trans 'Likes' %}
  <img height="33" alt="dislike" src="{% static 'icons/dislike.png' %}" class="ms-3" /> {{ answer.dislikes|length }} {% trans 'Dislikes' %}
{% endif %}

{% if answer.question.status in 'answered closed'|split %}
  <img height="33" alt="views" src="{% static 'icons/eye.png' %}" /> {{ answer.views|length }} {% trans 'Views' %}
{% endif %}
