{% extends 'layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Create answer' %}{% endblock title %}
{% block beforemain %}
  {{ block.super }}
  {% include '_countries.html' with url_name='answers:index' %}
{% endblock beforemain %}
{% block main %}
  {{ block.super }}

  {% include 'questions/_detailed_question.html' %}

  <form method="POST" class="bg-white rounded-2" style="padding: 20px" action="{% url 'answers:create' country_id=current_country.id|default:'unknown' question_id=request.resolver_match.kwargs.question_id %}">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" class="btn btn-primary" value="{% trans 'Answer' %}">

    {% include 'answers/_translate_preview.html' %}
  </form>
{% endblock main %}
