{% extends "layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create answer" %}{% endblock title %}
{% block main %}
  {{ block.super }}
  {% include '_countries.html' with url_name='answers:index' %}
  <form method="POST" action="{% url 'answers:create' country_id=request.resolver_match.kwargs.country_id question_id=request.resolver_match.kwargs.question_id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Create answer' %}">
    <input name="translate" type="submit" class="btn btn-secondary" value="{% trans 'Translate' %}">
  </form>
{% endblock main %}
