{% extends 'account/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans 'Sign In' %}{% endblock %}

{% block content %}
  <div class="bg-white d-flex flex-column align-items-center rounded-2 ms-auto me-auto" style="padding: 30px 60px; width: 500px; margin-top: 20px">
    <h1 style="font-size: 25px; margin-bottom: 65px">{% trans 'Sign In' %}</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div style="margin-bottom: 30px">
        <input aria-label="{{ form.username.label }}" type="text" name="{{ form.username.html_name }}" placeholder="{{ form.username.label }}" autocomplete="username" class="textinput textInput form-control" style="border-radius: 0" required>
      </div>
      <div style="margin-bottom: 30px">
        <input aria-label="{{ form.password.label }}" type="password" name="{{ form.password.html_name }}" placeholder="{{ form.password.label }}" autocomplete="current-password" class="textinput textInput form-control" style="border-radius: 0" required>
      </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button type="submit" class="rounded-2" style="padding: 0; border: none; height: 60px; width: 385px; background: #81B9FE; font-size: 25px">{% trans 'Sign In' %}</button>
    </form>
  </div>
{% endblock %}
