{% load question_answers %}
{% load i18n %}
{% load likes %}

{% if answer.question.author != request.user and answer.question.status == 'answered' and not answer.question|is_answered_by_me:request.user %}
  <a
      href="{% url 'likes:like' country_id=answer.question.country_id answer_id=answer.id %}"
      class="btn btn-{% if not answer|liked_by_me:request.user %}outline-{% endif %}success
      {% if question|is_voted_for_question:request.user %}disabled" aria-disabled="true"{% endif %}
  >
    <i class="bi bi-hand-thumbs-up-fill"></i> {% trans 'Like' %}
  </a>
  <a
      href="{% url 'likes:dislike' country_id=answer.question.country_id answer_id=answer.id %}"
      class="btn btn-{% if not answer|disliked_by_me:request.user %}outline-{% endif %}danger
      {% if question|is_voted_for_question:request.user %}disabled" aria-disabled="true"{% endif %}
  >
    <i class="bi bi-hand-thumbs-down-fill"></i> {% trans 'Dislike' %}
  </a>
{% endif %}

{% if answer.question.status == 'closed' %}
  <a href="{% url 'likes:likes' country_id=answer.question.country_id answer_id=answer.id %}" class="btn btn-link">
    {% trans 'View likes' %}
  </a>
  <a href="{% url 'likes:dislikes' country_id=answer.question.country_id answer_id=answer.id %}" class="btn btn-link">
    {% trans 'View dislikes' %}
  </a>
{% endif %}
