{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Likes' %}{% endblock title %}
{% block beforemain %}
  {{ block.super }}
  {% include '_countries.html' with url_name='likes:subscriptions' %}
{% endblock beforemain %}
{% block main %}
  {{ block.super }}
  <ul class="d-grid bg-white rounded-2" style="gap: 20px; padding: 20px; grid-template-columns: repeat(auto-fit, minmax(max-content, 100px))">
    {% for like in object_list %}
      <li class="d-flex align-items-center">
        {% include 'users/_avatar.html' with user=like.user %}
        <span style="margin-left: 7px">{{ like.user.username }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock main %}
