{% load static %}
{% load answers %}
{% load likes %}
{% load i18n %}
{% load questions_status %}

{% for question in questions %}
  <div class="position-relative d-flex align-items-stretch bg-white rounded-2" style="padding: 7px 32px 7px 0;margin-bottom: 3px">
    <a class="d-flex align-items-center" href="{% url 'likes:toggle_subscription' country_id=question.country_id question_id=question.id %}">
      <img height="33" style="padding: 0 17px;" alt="toggle subscription" src="
        {% if question|subscribed:request.user %}
          {% static 'icons/star-filled.png' %}
        {% else %}
          {% static 'icons/star.png' %}
        {% endif %}"
      />
    </a>

    <div class="d-flex flex-grow-1 flex-column" style="font-size: 20px">
      <header style="margin-bottom: 15px; font-size: 32px; line-height: 24px">{{ question.truncated_en_text }}</header>
      <span style="margin-bottom: 28px; font-size: 19px; line-height: 18px">{{ question.truncated_en_text }}</span>
      <div class="d-flex align-items-center text-nowrap" style="gap: 12px">
        {{ question.country }}

        <span class="d-flex align-items-center" style="gap: 4px">
          <img height="33" alt="currency" src="{% static question.price.currency|currency_icon %}" />
          {{ question.price.amount }}
        </span>

        {% if question.status != 'closed' %}
          <span class="d-flex align-items-center text-{{ question|question_status_class }}" style="gap: 4px">
            <img height="33" alt="{{ question.status }}" src="{% static question|question_status_icon %}" />
            {{ question.get_status_display }}
          </span>
        {% endif %}

        {% if question.status in 'answered closed'|split %}
          <span class="d-flex align-items-center" style="gap: 4px">
            <img height="33" alt="answers" src="{% static 'icons/comment.png' %}" />
            <span>{{ question.answer_set.count }} {% trans 'Answers' %}</span>
          </span>
        {% endif %}

        {% if question.status == 'closed' %}
          <span class="d-flex align-items-center" style="gap: 4px">
            <img height="33" alt="like" src="{% static 'icons/like.png' %}" />
            <span>{{ question.likes.count }} {% trans 'Likes' %}</span>
          </span>
          <span class="d-flex align-items-center" style="gap: 4px">
            <img height="33" alt="dislike" src="{% static 'icons/dislike.png' %}" />
            <span>{{ question.dislikes.count }} {% trans 'Dislikes' %}</span>
          </span>
        {% endif %}

        <span class="d-flex align-items-center" style="gap: 4px">
          {% include 'users/_avatar.html' with user=question.author %}
          {{ question.author.username }}
        </span>
      </div>
    </div>

    <div class="d-flex flex-column position-absolute top-0 bottom-0 end-0 align-items-center" style="margin: 30px 10px 30px 0;justify-content: space-between">
      <span class="text-secondary" style="font-size: 24px">
        {% if question.status in 'approved published answered'|split %}
          {{ question.status_changed|timeuntil }}
        {% else %}
          {{ question.get_status_display }}
        {% endif %}
      </span>

      {% if question.author != request.user and question.status == 'published' and question|is_not_answered_by_me:request.user %}
        <a style="font-size: 24px; display: inline-block; width: 130px; text-align: center; text-decoration: none; line-height: 34px; color: white; border-radius: 5px; background: #2659C2"
           href="{% url 'answers:create' country_id=question.country.id question_id=question.id %}"
        >
          {% trans 'Answer' %}
        </a>
      {% elif question.author != request.user and question.status == 'answered' %}
        <a style="font-size: 24px; display: inline-block; width: 130px; text-align: center; text-decoration: none; line-height: 34px; color: white; border-radius: 5px; background: #2659C2"
           href="{{ question.get_absolute_url }}"
        >
          {% trans 'Vote' %}
        </a>
      {% elif question.author == request.user and question.status in 'draft deferred'|split %}
        <a style="font-size: 24px; display: inline-block; width: 130px; text-align: center; text-decoration: none; line-height: 34px; color: white; border-radius: 5px; background: #2659C2"
           href="{{ question.get_absolute_url }}"
        >
          {% trans 'Edit' %}
        </a>
      {% else %}
        <a style="font-size: 24px; display: inline-block; width: 130px; text-align: center; text-decoration: none; line-height: 34px; color: white; border-radius: 5px; background: #2659C2"
           href="{{ question.get_absolute_url }}"
        >
          {% trans 'View' %}
        </a>
      {% endif %}
    </div>
  </div>
  {% if question.status in 'rejected deferred'|split and question.reason %}
    <div class="bg-white rounded-2" style="margin-bottom: 3px;padding: 7px 0 7px 17px">
      {{ question.reason }}
    </div>
  {% endif %}

  {% if question.best_answer %}
    <div class="d-flex">
      {% include 'answers/_answer.html' with answer=question.best_answer %}
    </div>
    <hr />
  {% endif %}
{% empty %}
  {% trans 'There is no questions yet' %}
{% endfor %}
