{% extends 'layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Edit question' %}{% endblock title %}
{% block beforemain %}
  {{ block.super }}
  {% include '_countries.html' with url_name='questions:index' %}
{% endblock beforemain %}
{% block main %}
  {{ block.super }}
  {% include 'questions/_detailed_question.html' %}

  <form method="POST" class="bg-white rounded-2" style="padding: 20px" action="{% url 'questions:edit' country_id=request.resolver_match.kwargs.country_id pk=request.resolver_match.kwargs.pk %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
    <a href="{% url 'questions:publish' country_id=request.resolver_match.kwargs.country_id pk=request.resolver_match.kwargs.pk %}" class="btn btn-outline-primary">
      {% trans 'Send to moderation' %}
    </a>

    {% include 'questions/_translate_preview.html' %}
  </form>
{% endblock main %}
