{% load i18n %}

<button class="dropdown-toggle bg-white border-0 d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px; width: 1018px; padding: 0 0 0 69px; margin: 0 16px 16px;height: 45px">
  {% trans 'Countries' %}
</button>

<div class="dropdown">
  <div class="dropdown-menu">
    {% for country in countries %}
      {% url url_name country_id=country.id as country_url %}
      <a class="dropdown-item {% if request|is_current_url:country_url %}active{% endif %}" href="{{ country_url }}">
        {{ country }}
      </a>
    {% endfor %}
  </div>
</div>
