{% load static %}
{% load i18n %}

<div class="navbar bg-white navbar-expand-md fixed-top" style="border-bottom: 2px solid black">
  <div class="container">
    {% block topbar %}
      {% block site_brand %}<a class="navbar-brand" href="{% url 'index' %}">
        <img height="40px" src="{% static 'logo.png' %}">
      </a>{% endblock site_brand %}

      <form class="input-group w-50">
        <input class="form-control" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}">
        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="bi bi-list"></span>
      </button>

      <div class="ms-auto flex-grow-0 collapse navbar-collapse" id="navbarSupportedContent">
        {% block account_bar %}
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:me' %}">
                  {% if request.user.avatar %}
                    <img class="rounded-circle" style="height: 24px" alt="{% trans 'Avatar' %}" src="{{ request.user.avatar.url }}" />
                  {% else %}
                    <i class="bi bi-person-circle"></i>
                  {% endif %}
                  {{ request.user.username }}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
              </li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            {% endif %}
          </ul>
        {% endblock %}
      </div>
    {% endblock topbar %}
  </div>
</div>
