{% extends 'layout.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block title %}{% trans 'Avatar' %}{% endblock title %}
{% block main %}
  {{ block.super }}
  <header style="height: 60px; margin-bottom: 16px" class="d-flex align-items-center justify-content-center bg-white">
    <h1 style="font-size: 25px; line-height: 25px">{% trans 'Profile photo' %}</h1>
  </header>
  <div class="bg-white rounded-2 d-flex" style="padding: 30px">
    <div style="height: 238px; width: 238px; margin-right: 90px" class="flex-shrink-0 d-flex align-items-center">
      {% if request.user.avatar %}
        <img class="rounded-circle w-100" alt="{% trans 'Avatar' %}" src="{{ request.user.avatar.url }}" />
      {% else %}
        <div class="flex-grow-1 h-100 d-flex align-items-center justify-content-center rounded-circle" style="background: #f0f0f0; color: #b3b3b3; font-size: 100px">
          <i class="bi bi-camera-fill"></i>
        </div>
      {% endif %}
    </div>

    <div style="line-height: 42px; font-size: 17px">
      {% blocktrans trimmed %}
        You can upload an image in JPG, GIF or PNG format.<br />
        If you are having problems uploading, try choosing a smaller image.
      {% endblocktrans %}

      <form enctype="multipart/form-data" method="POST" action="{% url 'users:me' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans 'Change avatar' %}</button>
      </form>
    </div>
  </div>
{% endblock main %}
